* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: black;
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 64px;
    height: 64px;
    margin-left: 20px;
}

.titulo {
    color:white;
    margin-left: 10px;
    font-size: 24px;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 35px;
    height: 35px;
}

#form input {
    margin-left: 10px;
    outline: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
}

#form button {
    margin-right: 20px;
    margin-left: 3px;
    border: 2px solid white;
    background: black;
    border-radius: 8px;
    padding: 5px;
    color: white;
    outline: none;
}

/* Introdução */

.introducao {
    text-align: center;
    font-size: 36px;
    font-weight: 300; 
}

.tiraIntroducao {
    display: none;
    width: 0;
    height: 0;
}

/* Conteúdo */

main { 
    padding-top: 40px;
    background-color: #ebebeb;
    height: 90vh;
    width: 100%;
}

.imagemLogo {
    text-align: center;
    margin-top: 30px;
}

.femLogo {
    width: 700px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.avatarGit {
    border-radius: 50%;
    width: 300px;
}


/* Footer */

footer {
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


/* Responsivo */

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        align-items: center;
    }

    .logo-header {
        margin-bottom: 5px;
    }

    .logo {
        margin-left: 0;
    }

    .titulo {
        font-size: 16px;
    }

    #form button {
        margin-right: 0;
    }

    .introducao {
        font-size: 45px;
        line-height: 50px;
    }

    .femLogo{
        width: 350px;
    
    }
}




